node_modules
dist
.turbo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
storybook-static

# Bun lock file
bun.lockb

# Ignore build output
**/dist/

# Do not ignore workflows
dist/
!.github/
!.github/workflows/